.theBoxes {
    border: 0px;
    margin: 2px;
    padding: 0px;
    background-color: #616161
    ;  
    
}
.mainDiv {
    padding: 0px;
    border: 0px;
    margin: 0px;
    display: grid;
    align-items: center; 
}
.grid {
    padding: 0px;
    border: 0px;
    margin: 0px;
}
.esHeader{
    padding: auto;
    border: 0px;
    margin: auto;
    background-color: #c2b490;
    height: 75px;
    width:75%;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 10%;
}
.theButton{
    border-radius: 5pt;
    background-color: #c89666 ;
    height: 50px;
    width: 250px;
    margin-top: 10px

}
.flexDiv{
    display: flexbox;
    align-items: center;
    margin: 0%;
    background-color: #e1b382;
}
