.theBoxes {
    border: 0px;
    margin: 1px;
    padding: 2fr;
    background-color: #959496 ;

}
.mainDiv {
    display: grid;
    height: 80vh;
    width: 80vh;  
    border-color: rgb(214, 26, 26);
    border-style:solid;
    border-width: 5px;
}

.esHeader{
    padding: auto;
    border: 2px;
    border-color: black;
    border-style:ridge;
    margin: 2px;
    background-color: #b8a27781;
    height: 75px;
    width:500px;
    display: flex;
    justify-content: center;
    border-radius: 10%;
    align-self: center;
}
.theButton{
    border-radius: 5pt;
    background-color: #646C79 ;
    color: #78c498;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 50px;
    width: 250px;
    align-self: center;

}
.flexDiv{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 0%;
    border: 0px;
    background-image: url(vCanvas.jpg);
    height: 100vh; 
    gap: 10px; 
}
.body{
    margin: 0px;
    padding: 0px;    
}